.jumbo {
    background: black;
    height: 100%;
    min-height: 100vh;
}

.txt {
    margin-top: 15%;
}

.aboutDiv {
    margin-top: 5%;
}

.about {
    color: white;
}

.aboutTxt {
    color: white;
}

.aboutTxtL {
    color: white;
    margin: 0%;
}